extends layout

block content
  if( user )
    p Logged in as #{user.email}
    a(href='/users/logout') Logout
  .add-tab
    form(action='/tabs', method='post')
      input(type='text', name='new-tab' placeholder='Tab Title')
      button(type='submit') Create Tab

  .add-task
    form(action='/tasks', method='post' )
      select(name='tab-id')
        each tab in tabs
          option(label=`${tab.title}`, value=`${tab.id}`)
      input(type='text', name='new-task' placeholder='Task Description')
      button(type='submit') Create Task

  ul.nav.nav-tabs(role='tablist')
    each tab, index in tabs
      li(role='presentation', class=`${index === 0 ? 'active' : ''}`)
        a(href=`#tab-${tab.id}`, aria-controls=`${tab.title}`, role='tab', data-toggle='tab')= tab.title
