extends layout

block content
  h1 Items

  ul#sortable_id
    each item in items
      -var itemid = `${item.id}`
      -var completed = `${item.completed}`
      li(id=`${itemid}`)
        a(href=`items/task_details/${item.id}`) #{item.title}
        h2= item.description
        form(action='/items/completed', method='post')
          if completed == 'true'
            input.checkbox(type='checkbox', name='checkbox', value= itemid, checked)
            span.completed Completed?
          if completed == 'false'
            input.checkbox(type='checkbox', name='checkbox', value= itemid)
            span.completed Completed?
          br
          br


          //- form(action='/items/', method='post')
          //-   input(type='hidden', name='id', value=`${item.id}`)
          //-   button(type='submit') DELETE


    form(action='/items', method='post')
      input(type='text', name='title' placeholder='Item title')
      button(type='submit') Create
